---
title: "María Martínez Barbeito"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/tramuntana.jpg
  actions:
  - label: "Email"
    url: "mailto:martinezbarbeitomaria@gmail.com"
  - label: "Twitter"
    url: "https://twitter.com/mariamartinz13"
  - label: "Google Scholar"
    url: "https://scholar.google.com/citations?user=5us7cmgAAAAJ&hl=es&oi=ao"
  - label: "ORCID"
    url: "https://orcid.org/0000-0003-0887-9374"
  - label: "LinkedIn"
    url: "https://www.linkedin.com/in/mariamartinezbarbeito"
  caption: "Serra de Tramuntana, Mallorca"
excerpt: " <br> "
intro: 
  - excerpt: ''
---

<!-- {% include feature_row id="intro" type="center" %} -->

<!-- 
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->


<!-- {% include feature_row %} -->

<!-- {% include feature_row id="feature_row2" type="left" %} -->

<!-- {% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %} -->
